<% if notice %>
<p id="notice"><%= notice %></p>
<% end %>

<h2>Your Considered Adoptions</h2>
<ul>
<% @checkout.animal_items.each do |item| %>
	<%= image_tag("/images/"+item.animal.image_url) %>
	<br>
	<%= item.animal.name %>
<% end %>
</ul>

<%= button_to 'Remove Considerations', @checkout, method: :delete,
	data: { confirm: 'Are you sure?'} %>