/* Variables are used for grid widths and common colors
 * Nesting is used to set up the column layout with inheritance to have correct heights
 * A partial is used for the imported font
 * Mixins used on all of the buttons on the top bar
 * Operators used to fix the width of the website to 100px by dividing the grid into 8 widths 
 * http://compass-style.org/reference/compass/layout/sticky_footer/ used for refrence of sticky footer */
/* line 17, ../../../../../../../../RailsInstaller/Ruby1.9.3/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../../../RailsInstaller/Ruby1.9.3/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../../../RailsInstaller/Ruby1.9.3/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../../../RailsInstaller/Ruby1.9.3/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../../../RailsInstaller/Ruby1.9.3/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../../../RailsInstaller/Ruby1.9.3/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../../../RailsInstaller/Ruby1.9.3/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../../../RailsInstaller/Ruby1.9.3/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../../../RailsInstaller/Ruby1.9.3/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* Generated by Font Squirrel (http://www.fontsquirrel.com) on January 14, 2014 */
@font-face {
  font-family: 'blackjackregular';
  src: url("black_jack-webfont.eot");
  src: url("black_jack-webfont.eot?#iefix") format("embedded-opentype"), url("black_jack-webfont.woff") format("woff"), url("black_jack-webfont.ttf") format("truetype"), url("black_jack-webfont.svg#blackjackregular") format("svg");
  font-weight: normal;
  font-style: normal;
}

/* line 10, ../../../../../../../../RailsInstaller/Ruby1.9.3/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/layout/_sticky-footer.scss */
html, body {
  height: 100%;
}

/* line 12, ../../../../../../../../RailsInstaller/Ruby1.9.3/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/layout/_sticky-footer.scss */
#layout {
  clear: both;
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin-bottom: -35px;
}
/* line 18, ../../../../../../../../RailsInstaller/Ruby1.9.3/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/layout/_sticky-footer.scss */
#layout #layout_footer {
  height: 35px;
}

/* line 20, ../../../../../../../../RailsInstaller/Ruby1.9.3/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/layout/_sticky-footer.scss */
#footer {
  clear: both;
  position: relative;
  height: 35px;
}

/* line 24, ../sass/screen.scss */
body {
  font-size: 25px;
}

/* line 28, ../sass/screen.scss */
h1, h2, h3, h4, h5, h6 {
  color: red;
  font-family: 'blackjackregular';
}

/* line 38, ../sass/screen.scss */
.newButton {
  background-color: white;
  color: red;
}

/* line 42, ../sass/screen.scss */
#content {
  height: 100%;
  width: 1070px;
  margin: 0 auto;
  overflow: hidden;
  *zoom: 1;
}
/* line 45, ../sass/screen.scss */
#content #header {
  background: #cccccc;
  display: inline;
  float: left;
  margin-right: 10px;
  width: 1070px;
}
/* line 147, ../../../../../../../../RailsInstaller/Ruby1.9.3/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html #content #header {
  overflow-x: hidden;
}
/* line 48, ../sass/screen.scss */
#content #header #buttons {
  text-align: right;
}
/* line 52, ../sass/screen.scss */
#content #footer {
  background: #cccccc;
  display: inline;
  float: left;
  margin-right: 10px;
  width: 1070px;
  text-align: center;
}
/* line 147, ../../../../../../../../RailsInstaller/Ruby1.9.3/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html #content #footer {
  overflow-x: hidden;
}
/* line 57, ../sass/screen.scss */
#content #mainbar {
  display: inline;
  float: left;
  margin-right: 10px;
  width: 665px;
}
/* line 147, ../../../../../../../../RailsInstaller/Ruby1.9.3/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html #content #mainbar {
  overflow-x: hidden;
}
/* line 60, ../sass/screen.scss */
#content #sidebar {
  display: inline;
  float: left;
  margin-right: 0;
  width: 395px;
}
/* line 147, ../../../../../../../../RailsInstaller/Ruby1.9.3/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html #content #sidebar {
  overflow-x: hidden;
}
/* line 62, ../sass/screen.scss */
#content #sidebar #sidecontent {
  text-align: center;
  margin: 40px;
  background: #cccccc;
}
/* line 67, ../sass/screen.scss */
#content #sidebar #login {
  margin: 15px;
  text-align: center;
  -webkit-box-shadow: red 2px 2px 10px;
  -moz-box-shadow: red 2px 2px 10px;
  box-shadow: red 2px 2px 10px;
  width: 90%;
}
