<html>
<body>
	<h2>Sort by:</h2>
	<form action="/list" method="get">
		<select name="sort">
			<option value="id">Rank</option>
 			<option value="title">Title</option>
  			<option value="author">Author</option>
  			<option value="language">Language</option>
  			<option value="sold">Sold</option>
  			<option value="published">Published</option>
		</select>
		<input type="submit" value="Display List">
	</form>


</body>
</html>